.sections-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-left: 6px;

	&__item {
    display: none;
		
		&--active {
			display: block;
		}
	}
}

@media (min-width: $screen-md) {

  .sections-list {
    margin-left: -39px;
  }
}