.text {
  font-family: $font;
  font-size: 7px;
  line-height: 9px;
  text-align: justify;
  background-color: rgba(216, 216, 216, 0.2);
  padding: 5px;
  max-width: 230px;
  min-height: 225px;
  margin: 0 auto 20px;
}

@media (min-width: $screen-md) {
  .text {
    max-width: 740px;
    font-size: 12px;
    line-height: 18px;
  }
}

@media (min-width: $screen-lg) {
  .text {
    max-width: 940px;
    font-size: 18px;
    line-height: 24px;
    padding-left: 20px;
    padding-right: 20px;
  }
}