//- Стандартный шаблон страницы
include mixins.pug

doctype html
html(class='page  no-js', lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    block meta
      title Home

    block head
      link(rel='stylesheet', href='css/style.css')
      script.
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  body
    noscript У вас отключен JavaScript. Это пугает.
    #particles-js
    .page__inner.page__inner--column

      .page__content
        ul.main-nav
          li.main-nav__item(data-name='about' data-num='0')
            span.main-nav__icon
            a.main-nav__linc(href="#about") About
          li.main-nav__item(data-name='work' data-num='1')
            span.main-nav__icon
            a.main-nav__linc(href="#work") Our work
          li.main-nav__item(data-name='team' data-num='2')
            span.main-nav__icon
            a.main-nav__linc(href="#team") Team
          li.main-nav__item(data-name='skills' data-num='3')
            span.main-nav__icon
            a.main-nav__linc(href="#skills") Skills
          li.main-nav__item(data-name='contact' data-num='4')
            span.main-nav__icon
            a.main-nav__linc(href="#contact") Contact us

        .page__content-wrapper

            block content
              p Cодержимое

        ul.mirror-nav
          li.mirror-nav__item(data-name='about' data-num='0')
            span.main-nav__icon
          li.mirror-nav__item(data-name='work' data-num='1')
            span.main-nav__icon
          li.mirror-nav__item(data-name='team' data-num='2')
            span.main-nav__icon
          li.mirror-nav__item(data-name='skills' data-num='3')
            span.main-nav__icon
          li.mirror-nav__item(data-name='contact' data-num='4')
            span.main-nav__icon

      .page__footer
        .flex-container.flex-container--around
          .swipe
            button.swipe__button.swipe__button--top
            span.swipe__text Swipe
            button.swipe__button.swipe__button--bottom
        .flex-container
          .footer-contact
            a.linc.footer-contact__linc(href="#") Contact us
            a.linc.footer-contact__text(href="#") press [space] to contact us
          .copy
            p © Alacrity lab. 2017-2020
            p All Rights Reserved.
            .copy__img
              img(src="/img/jap.svg", alt="")

    block page-bottom
      script(src='assets/particles.js')
      script(src='js/vendors.min.js')
      script(src='js/script.min.js')
