//- Стандартный шаблон страницы
include mixins.pug

doctype html
html(class='page  no-js', lang='en')

  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')

    block meta
      title Home

    block head
      link(rel='stylesheet', href='css/style.css')
      script.
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  body
    noscript У вас отключен JavaScript. Это пугает.

    .page__inner
      ul.preloader
        li.preloader__item
        li.preloader__item
        li.preloader__item
        li.preloader__item
        li.preloader__item
      .logo
        a(href="/") Alacrity lab.
      ul.preloader.preloader--right
        li.preloader__item
        li.preloader__item
        li.preloader__item
        li.preloader__item
        li.preloader__item

    block page-bottom
      script(src='js/vendors.min.js')
      script(src='js/script.min.js')
