extends ../pug/layout.pug

block meta
  title Alacrity lab
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block content
  .text
    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt, libero! Voluptatum ducimus tempore ad esse, pariatur praesentium cum nobis nisi laborum alias placeat facere assumenda quidem minus minima fuga. Fugit!
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, accusamus. Culpa itaque optio quis animi et fugit praesentium beatae quas?
    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti temporibus eveniet dolorum similique quidem accusantium, possimus aspernatur harum facilis minima iusto excepturi ducimus cumque explicabo.
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, dignissimos! Voluptas consequatur repudiandae harum doloremque nam in eius hic dicta? Debitis rem nostrum dolorum laudantium placeat fugit quasi blanditiis libero voluptates eum, consectetur molestiae fuga, velit doloremque. Quos, delectus? Suscipit.
  .partners

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
