extends ../pug/preloader.pug

block meta
  title Alacrity lab
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

//- block footer
//-   p footer

//- block append page-bottom
//-   script(src='js/some.js')
