@font-face {
  font-family: 'arkhipregular';
  src: url('/fonts/arkhip_font-webfont.woff2') format('woff2'),
       url('/fonts/arkhip_font-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ibm_plex_mono_lightregular';
  src: url('/fonts/ibmplexmono-light-webfont.woff2') format('woff2'),
       url('/fonts/ibmplexmono-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ibm_plex_mono_mediumregular';
  src: url('/fonts/ibmplexmono-medium-webfont.woff2') format('woff2'),
       url('/fonts/ibmplexmono-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
